@font-face {
  font-family: simplifica;
  src: url(./resources/simplifica.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

:root {
  --clickedButtonShadow: inset 0px 0px 3px grey;
  --searchBarRadius: 6px;
  --slingShot: cubic-bezier(1, -0.44, 0.45, 0.88);
  --slideTime: 500ms;
  --titleFont: simplifica;
  --regularFont: simplifica;
  --summaryTitleFontSize: 4rem;
  --subtitleColor: white;
}

.body-background {
  width: 100vw;
  height: 100vh;
  background-color: #010e1d;
  display: flex;
  justify-content: center;
}

.location-form-wrapper {
  width: 500px;
  height: 200px;
  background-color: #043256;
  border-radius: 5px;
  align-self: center;
  margin-right: 100px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform var(--slideTime) var(--slingShot);
}

.location-form-wrapper.hidden {
  transform: translateY(-300%);
  pointer-events: none;
}

.location-form-wrapper h1 {
  color: white;
}

#locationForm {
  width: 75%;
}

.locationForms {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationForms > :is(input, button) {
  border: 1px solid black;
  box-shadow: none;
  height: 2rem;
}

.locationForms > input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  flex: 1;
  border-radius: var(--searchBarRadius) 0px 0px var(--searchBarRadius);
  border-right: 0;
}

.locationForms > input:focus {
  outline: 0px;
}

.locationForms > button[type="submit"] {
  background-color: #f1f1f1;
  border-radius: 0px var(--searchBarRadius) var(--searchBarRadius) 0px;
}

.locationForms > button:active {
  box-shadow: var(--clickedButtonShadow);
}

.autocomplete {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0px;
  width: 100%;
  border: 1px solid black;
  background-color: silver;
  border-radius: 3px;
}

.locations:focus + .autocomplete.active {
  opacity: 1;
  cursor: pointer;
}

.autocomplete > div {
  padding: 0.25rem 0.5rem;
}

.autocomplete > div:hover {
  background-color: rgb(99, 99, 99);
}

#secondLocation {
  width: 85%;
}

.main-container {
  position: absolute;
  justify-self: center;
  align-self: center;
  height: clamp(300px, 60%, 640px);
  width: clamp(500px, 85%, 960px);
  padding: 0;
  border: 0 solid transparent;
  border-radius: 3px;
  overflow: hidden;
  background-image: url(./resources/firewatch.jpg);
  background-size: cover;

  display: flex;
  transition: transform var(--slideTime) var(--slingShot);
}

.main-container.hidden {
  transform: translateY(-300%);
  pointer-events: none;
}

.main-container h1 {
  font-family: var(--titleFont);
  letter-spacing: 0.3rem;
  font-size: var(--summaryTitleFontSize);
}

.main-container h2 {
  font-family: var(--titleFont);
  letter-spacing: 0.3rem;
  font-size: 2rem;
  color: var(--subtitleColor);
}

.left-panel h1 {
  height: calc(var(--summaryTitleFontSize) - 1rem);
}

.main-container > .left-panel {
  flex: 2;

  position: relative;
}

.left-panel > .weather-summary {
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  color: white;
  /*background-color: rgba(80, 80, 80, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 0px 3px 3px 0px;*/
}

.left-panel :is(h1, h2) {
  margin: 0;
}

h1 sup {
  font-size: 1.7rem;
}

.main-container > .right-panel {
  flex: auto;
  background-color: rgba(80, 80, 80, 0.2);
  backdrop-filter: blur(15px);
}

.right-panel p {
  color: rgb(207, 207, 207);
}

.weather-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.weather-details > p {
  display: flex;
  justify-content: space-between;
}

.weather-details > p > span {
  color: white;
  font-weight: bold;
}
