* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

.body-background {
  width: 100vw;
  height: 100vh;
  background-image: url("./resources/firewatch.jpg");
  background-color: #446588;
  background-position: center;
  display: flex;
  justify-content: center;
}

.location-form-wrapper {
  width: 500px;
  height: 200px;
  background-color: #043256;
  border-radius: 5px;
  align-self: center;
  margin-right: 100px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-form-wrapper > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > input {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 0.25rem 0.5rem;
}

form > button {
  margin: auto;
}

.autocomplete {
  position: absolute;
}
